* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

body {
    color: aliceblue;
}

.background {
    background-image: url(./images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    /* grid: template rows 1fr 1fr 1fr; */
    justify-content: space-evenly;
    flex-direction: row;
    border: 3px solid green;
}

.gamePic {
    /* height: 300px;
    width: auto; */
    margin: 5px;
    padding: 10px;
    border: 3px solid red;
}

.landing {
    text-align: center;
}

.fillup {
    color: aliceblue;
    display: block;
    text-align: center;
    border: 2px solid whitesmoke;
    max-width: 500px;
    min-width: 200px;
    padding: 2rem
}

/* .pz {}

.valheim {}

.squad {} */