html {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
}

/* .landing>div {
    border: 1px solid black;
} */

.background {
    background-image: url(./images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

.pics {
    display: flex;
    grid: template rows 1fr 1fr 1fr;
    justify-content: space-evenly;
    flex-direction: row;
    align-self: flex-end;
}

.landing {
    text-align: center;
}

.fillup {
    color: aliceblue;
    display: block;
    text-align: center;
    
}

.pz {}

.valheim {}

.squad {}